.landing-block {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 40%;
    padding: 2rem;
    margin: 0 auto;
  }
}

.landing-links {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}

.redirect-btn {
  padding: 1rem 2rem;
  font-size: 20px;
}

.newsletter-submit-btn {
  font-size: 1.2rem;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}
